<app-navigation></app-navigation>
<div class="main-cont">
    <div class="side-nav">
        <h2>Dashboard</h2>
        <ul>
            <li>User overview</li>
            <li>User stats</li>
        </ul>
    </div>
    <div class="main">
        <div class="table-cont">
            <table>
                <tr>
                    <th></th>
                    <th>name</th>
                    <th>last name</th>
                    <th>age</th>
                    <th>Occupation</th>
                    <th>Race</th>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Thebe</td>
                    <td>Tongwane</td>
                    <td>25</td>
                    <td>Software development</td>
                    <td>African</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Thebe</td>
                    <td>Tongwane</td>
                    <td>25</td>
                    <td>Software development</td>
                    <td>African</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>James</td>
                    <td>Reece</td>
                    <td>30</td>
                    <td>Data Scientist</td>
                    <td>Caucasian</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Brian</td>
                    <td>Griffin</td>
                    <td>8</td>
                    <td>Writer</td>
                    <td>Labrador</td>
                </tr>
            </table>
        </div>
    </div>
</div>